@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import './Variables.css';
@import './Global.css';
body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #fff;
    background-color: var(--background-color-primary);
    margin-bottom: 4rem;
}

/* Headlines */

h1 {
    font-size: 25px;
    text-align: center;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: var(--letter-spacing-default);
}

h3 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: var(--letter-spacing-default);
}

/* Bootstrap Overwrites: */

/* Tabs */

.nav-tabs {
    border-bottom: 1px solid var(--grey10);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none !important;
    color: #fff;
    position: relative;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
}

.nav-tabs .nav-link {
    color: var(--grey10);
    position: relative;
    transition: all 250ms ease 0s;
    border: 0px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus-visible {
    border-color: transparent;
    border: none;
    color: #fff;
}

.nav-tabs>a::after {
    content: "";
    background: var(--highlight-color-var5);
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>.active .nav-tabs>.active>a:focus, .nav-tabs>.active>a:hover {
    border-width: 0;
}

.nav-tabs>.active::after, .nav-tabs>:hover>a::after {
    transform: scale(1);
}

/* Buttons */

.btn-primary {
    background-color: var( --highlight-color-secondary);
    border: none;
    font-size: 0.85em;
    padding: .5em 2em;
    border-radius: var(--border-radius-primary);
    transition: all .2s;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: var(--highlight-color-var3);
    border: none;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: var(--highlight-color-var5);
    border: none;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: var(--highlight-color-var5);
    border: none;
    box-shadow: none;
}

.sync-btn.btn-primary:not(:disabled):not(.disabled).active, .sync-btn.btn-primary:not(:disabled):not(.disabled):active, .sync-btn.show>.btn-primary.dropdown-toggle {
    background-color: var( --highlight-color-secondary);
    border: none;
    box-shadow: none;
}

.sync-btn .btn-primary.focus, .sync-btn.btn-primary:focus {
    background-color: var(--highlight-color-secondary);
    border: none;
    box-shadow: none;
}