.current-outdoor-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    overflow: hidden;
}

.background-hero {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 120%;
    height: 120%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.current-outdoor-header .location {
    font-size: 1.6em;
    font-weight: 800;
}

.current-outdoor-header .sync {
    font-size: 0.75em;
    font-weight: 300;
}

.current-outdoor-main {
    margin: 2.5rem 0;
}

.current-outdoor-icons {
    text-align: center;
}

.current-outdoor-icons .label {
    font-size: 0.85em;
}

.weather_icon {
    height: 95px;
    margin-right: .5rem;
}

.weather_icon img {
    height: 100%;
}

.outdoor-icon {
    height: 4em;
    width: 4em;
    background-color: #fff;
    border-radius: 1.25em;
    padding: .75em;
    margin: 0 auto .5em auto;
}

.current-indoor-container {
    background-color: var(--background-color-secondary);
    padding: 3rem 0 2rem 0;
}

.current-indoor-main {
    margin: 1rem 0 2rem 0;
}

.current-indoor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    border-radius: var(--border-radius-primary);
    background: var(--background-gradient-secondary);
    font-size: 25px;
    font-weight: 800;
    border: 1px solid var(--highlight-color-primary);
    transition: all .5s
}

.current-indoor:hover {
    transform: translateY(-5px);
}

.indoor-icon {
    max-width: 30px;
}

.notification-icon {
    max-width: 23px;
}

.indoor-icon svg, .notification-icon svg, .notification-icon img {
    height: 100%;
    width: 100%;
    fill: #fff;
}

.notification {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgba(166, 168, 172, 0.28), rgba(166, 168, 172, 0));
    border-radius: var(--border-radius-primary);
    padding: 1em;
    margin: 1em 0;
}

.notification-text {
    margin-left: 1em;
    font-size: 0.85em;
}

.current-value-wrapper {
    position: relative;
    padding-right: 12px;
    margin-left: 3px;
}

.current-temp {
    font-size: 3.85em;
    font-weight: 800;
    letter-spacing: var(--letter-spacing-default);
    padding-right: 30px;
}

.unit {
    font-size: .5em;
    font-weight: 400;
    position: absolute;
    right: 0;
}

.lastdigits {
    font-size: .5em;
}