.forecast-daily-card {
    background: var(--background-gradient-secondary);
    padding: 20px;
    text-align: center;
    border-radius: var(--border-radius-primary);
    transition: all .5s;
}

.forecast-daily-card:hover {
    transform: translateY(-5px);
}

.forecast-daily-day {
    font-size: 1.6em;
}

.forecast-daily-temp-wrapper {
    display: flex;
    justify-content: center;
}

.forecast-daily-temp {
    font-size: 1.6em;
}

.forecast-daily-temp.min {
    margin-right: .25em;
}

.forecast-daily-temp.max {
    margin-left: .25em;
}

.forecast-daily-icon {
    margin: 1rem auto;
    max-width: 70px;
}

.forecast-daily-icon img {
    height: 100%;
    width: 100%;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    .forecast-daily-icon {
        margin: 1rem auto;
        max-width: 90px;
    }
}