.icon-pair {
    display: flex;
    align-items: center;
}

.icon-pair .notification-icon {
    margin-right: .5rem;
}

.container_forcast_hourly {
    margin: 2rem 0;
}

.forecast_hourly_inner {
    margin-top: 1rem;
}

.weather-table.light20 {
    transition: ease-in .3s;
}

.weather-table.light20:hover {
    background-color: var(--highlight-color-secondary);
    transform: scaleX(1.01);
    color: #fff;
}

.weather-table.light20 img, .weather-table.light20 svg {
    transition: ease-in .3s;
}

.weather-table.light20:hover img, .weather-table.light20:hover svg {
    filter: brightness(0) invert(1);
    fill: #fff;
}