/* fills/shades */

.light20 {
    color: var(--grey20);
}

.light20 svg {
    fill: var(--grey20);
}

.light10 {
    color: var(--grey10);
}

.light10 svg {
    fill: var(--grey10);
}

/* Globals */

.forecast-history-container {
    margin-top: 3rem;
}

.current-weather-wrapper {
    margin-bottom: 3rem;
}

.weather-table {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--border-radius-primary);
    border: 1px solid var(--grey0);
    padding: 1em;
    margin: .75em 0;
}

.toast {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #25be58;
    z-index: 999;
}

.swiper-container {
    padding-top: 1rem;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    .current-weather-wrapper {
        min-width: 370px;
        position: fixed;
        z-index: 999;
        overflow-y: auto;
        top: 0;
        bottom: 0;
        background-color: var(--background-color-secondary);
        margin-bottom: 0;
    }
    .more-info-wrapper {
        margin-left: 370px;
        padding: 15px;
    }
    .forecast-history-container {
        margin-top: 2rem;
    }
}