.container_historical_weather {
    margin-top: 2rem;
}

.apexcharts-canvas {
    background-color: transparent;
}

.apexcharts-text {
    fill: var(--grey30);
}

.apexcharts-legend {
    margin-top: .5rem;
}

.apexcharts-tooltip {
    background-color: #fff;
    color: var(--grey30);
}

.period-btn-wrapper {
    margin: 1rem 1rem 0 1rem;
}

.graph_wrapper {
    height: 300px;
}

.period-btn-wrapper .btn {
    width: 100%;
    margin-bottom: .5rem;
}

@media only screen and (min-width: 992px) {
    .graph_wrapper {
        height: 400px;
    }
}

@media only screen and (min-width: 1200px) {
    .graph_wrapper {
        height: 450px;
    }
}