.container-weather-map {
    margin-top: 2rem;
    position: relative;
}

.map-legend {
    height: .5rem;
    background: linear-gradient(90deg, rgba(130, 22, 146, 0.8) 0%, rgba(130, 87, 219, 0.8) 9%, rgba(32, 140, 236, 0.8) 18%, rgba(32, 196, 232, 0.8) 29%, rgba(35, 221, 221, 0.8) 39%, rgba(194, 255, 40, 0.8) 50%, rgba(255, 240, 40, 0.8) 62%, rgba(255, 194, 40, 0.8) 75%, rgba(252, 128, 20, 0.8) 86%, rgba(255, 53, 0, 0.8) 100%);
    position: absolute;
    bottom: 2rem;
    right: .5rem;
    z-index: 999;
    width: 200px;
}