.weather-table .time {
    font-size: 1.25em;
    font-weight: 300;
    letter-spacing: var(--letter-spacing-default);
}

.weather-table .description {
    color: #a3a8c5;
}

.sun-wrapper .weather-table {
    transition: all .5s;
}

.weather-table:hover {
    transform: translateY(-5px);
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    .sun-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .sun-wrapper .weather-table {
        width: 49%;
    }
}