:root {
    --background-color-primary: #383a45;
    --background-color-secondary: #32333d;
    --background-gradient-primary: linear-gradient(to right, rgba(166, 168, 172, 0.28), rgba(166, 168, 172, 0));
    --background-gradient-secondary: linear-gradient(to top, #4a4d57, #42454f);
    --grey0: rgba(247, 247, 247, 0.2);
    --grey10: #a3a8c5;
    --grey20: #ababab;
    --grey30: #73767f;
    --highlight-color-primary: #f4c09c;
    --highlight-color-secondary: #495abf;
    --highlight-color-var3: #7989f1;
    --highlight-color-var4: #23add2;
    --highlight-color-var5: #eaa200;
    --border-radius-primary: .75em;
    --letter-spacing-default: -0.6px;
}